[package]
name = "dx-rpg"
version = "0.1.0"
authors = ["rondoudou"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.99"
dioxus = { version = "0.7.2", features = ["router", "fullstack"] }
lib-rpg = { git = "ssh://git@github.com/r0nd0ud0u/lib-rpg.git", rev = "2cbdbe2217a789a5d2f23129c95c22f61fb0747f" }
serde = "1.0.228"
dioxus-desktop = { version = "0.7.2", optional = true }
dioxus-html = "0.7.2"
indexmap = "2.12.1"
tokio = "1.48.0"
colorgrad = "0.8.0"
once_cell = "1.21.3"
serde_json = "1.0.145"
web-time = "1.1.0"
async-std = "1.13.2"
getrandom = { version = "0.3.3", features = ["wasm_js"] }

[features]
default = ["server"]
server = ["dioxus/server"]
web = ["dioxus/web"]
desktop = ["dioxus/desktop"]

[profile]

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"
