/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
  }
  
#navbar a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

.container-bar {
    width: 200px;
    height: 15px;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #222;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.life-bar {
    width: 100%;
    height: 100%;
    background-color: green;
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
}

/* character */
.character {
    width: 430px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #05194f;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10px; /* Add space between columns */   
}

.grid-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.7fr;
    column-gap: 10px;
}                                                                                                         

.text-bar {
    line-height: 1; /* height of the line */
    margin: 0;
}

.image-small {
    max-width: 100px; /* Maximum width of the image */
    max-height: 80px; /* Maximum width of the image */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    object-fit: cover; /* Ensures the image fills the space without distortion */
    border: 1px solid #ccc; /* Optional: Adds a border for aesthetics */
}

.grid-board {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 30px;
}

.character-name-button {
    position: absolute;
    -webkit-transform:translate(0%, -140%);
    justify-content: flex-start;
    align-items: left;
  }

  .menu-atk-button {
    position: absolute;
    width: 50px;
    -webkit-transform:translate(400px, -150px); /* relative to margin-top, height and width of class character */
  }

  .atk-button-ennemy{
    position: absolute;
    -webkit-transform:translate(-100%, -120px); /* relative to margin-top,height and width of class character */
  }

  .attack-list {
    display: flex;
    flex-direction: column; /* stack vertically */
  }

  .attack-list > button {
    margin: 3px;
    padding: 3px;
  }

  .atk-button {
    width: 200px;
  }

  .atk-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .hero-target-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #525355;
    color: white;
    font-size: 16px;
    cursor: pointer;
    -webkit-transform:translate(480px, -100px); /* relative to margin-top, height and width of class character */
  }

  .hero-target-button-active {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: yellow;
    color: white;
    font-size: 16px;
    cursor: pointer;
    animation: flicker 1.5s infinite;
    -webkit-transform:translate(480px, -60px); /* relative to margin-top, height and width of class character */
  }

  .boss-target-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #525355;
    color: white;
    font-size: 16px;
    cursor: pointer;
    -webkit-transform:translate(-60px, -100px); /* relative to margin-top, height and width of class character */
  }
  
.boss-target-button-active {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: yellow;
    color: white;
    font-size: 16px;
    cursor: pointer;
    animation: flicker 1.5s infinite;
    -webkit-transform:translate(-60px, -100px); /* relative to margin-top, height and width of class character */  
}

@keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .flickering {
    animation: flicker 0.1s infinite;
  }

  .attack-list-line {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 3px;
}

.attack-list-line > button {
  margin: 3px;
  padding: 3px;
}

.cost-energy-button{
  width: 30px;
}

.home-container {
  display: flex;
  flex-direction: column; /* empile les éléments verticalement */
  align-items: center;    /* centre horizontalement */
  gap: 10px; /* espace entre les éléments */
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1a73e8;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #1669c1;
}

.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.button-lobby-list {
  background: #560ea3;
  margin: 1px 0;
  padding: 12px 16px;
  border-radius: 6px;
  transition: background 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.button-lobby-list:hover {
  background: #0daacd;
}

.button-lobby-list:disabled {
    background-color: rgba(53, 74, 101, 0.814);
    cursor: not-allowed;
}
