on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

name: Upload Release Asset

permissions:
  contents: write

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Update rust
        run: rustup update stable
      - name: Build project # This would actually build your project, using zip for an example artifact
        shell: bash
        run: |
          cargo install cargo-binstall
          cargo binstall dioxus-cli@0.7.2 --force
          chmod +x ./scripts/bundle_app.sh
          ./scripts/bundle_app.sh
          zip -r bundle.zip bundle 
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: bundle.zip