name: test

on: 
  push:
  workflow_dispatch:

permissions:
  pull-requests: write
  repository-projects: write

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      # https://github.com/DioxusLabs/dioxus/blob/main/.github/workflows/main.yml#L167
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libwebkit2gtk-4.1-dev libgtk-3-dev libayatana-appindicator3-dev libxdo-dev
          version: 1.0
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Update rust
        run: rustup update stable
    
      - name: Check formatting
        run: cargo fmt --all --check

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features